version: '3'

services:
  postgres:
    image: postgres:13.2-alpine
    environment:
      - POSTGRES_USER=postgresuser
      - POSTGRES_PASSWORD=postgrespassword
      - POSTGRES_DB=postgres
    ports:
      - 5432:5432
#  server:
#    image: hacktiv-assignment-2:latest
#    ports:
#      - 8080:8080
#    depends_on:
#      - postgres